@charset "utf-8";
@import url("cw_layout.css");
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
    Civil War History
    Author: Jacob Gordon
    Date: 9/11/18
   
   Filename: cw_styles.css

*/


/* Structural Styles */
/* The whole page/html document had a background color implemented */
html {
    background-color: rgb(151, 151, 151);
}

/* Set the background color and font family of the body element */
body {
    background-color: rgb(180, 180, 223);
    font-family: Verdana, Geneva, sans-serif;
}

/* All the font for h1 and h2 elements have been set to normal */
h1,
h2 {
    font-weight: normal;
}

/* All underlines will be removed from links */
nav a:link,
nav a:visited {
    text-decoration: none;
}

footer {
    background-color: rgb(101, 101, 101);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Body Header Styles */
body>header {
    background-color: rgb(97, 97, 211);
}

body>header>h1 {
    font-size: 4vw;
    color: rgba(255, 255, 255, 0.4);
    font-family: Limelight, cursive;
}

/* Navigation Styles */
/* The nav under the ID of mainLinks is having it's padding set */
nav#mainLinks {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* The nav#mainLinks is having it's color being set to white */
nav#mainLinks a:link,
nav#mainLinks a:visited {
    color: white;
}

/* The transparency of the links is being set when you hover above them, and the background is being set */
nav#mainLinks a:active,
nav#mainLinks a:hover {
    opacity: 0.8;
    color: white;
    background-color: rgba(51, 51, 51, 0.5);
}

/* Outline Styles */
/* The nav with the ID of outline is having it's color changed and font being sized */
nav#outline {
    color: rgb(51, 51, 51);
    font-size: 0.8em;
}

/* The h1 element nested in the nav#outline is being centered */
nav#outline h1 {
    text-align: center;
}

/* The ordered list which are immidiate children of the nav#outline are getting it's margin and line height set. Furthermore, the listing is being changed from numbers to upper-roman numerals */
nav#outline>ol {
    line-height: 2em;
    margin: 0px 5px 0px 5px;
    list-style-type: upper-roman;
}

nav#outline>ol ol {
    list-style-type: upper-alpha;
}

/* The links on the side of the page, which are under the ID of outline, is getting changed to a grayish color */
nav#outline a:link,
nav#outline a:visited {
    color: rgb(101, 101, 101);
}

/* When hovered over the link of the ID outline, the color is changed to purple */
nav#outline a:active,
nav#outline a:hover {
    color: rgb(97, 97, 211);
}

/* Section Styles */
/* The background color of the section element is being defined */
section {
    background-color: rgb(220, 220, 220);
}

/* h1 elements nested inside of the header which is nested inside of the section element is having it's font sized and is receiving padding on the left */
section header h1 {
    padding-left: 10px;
    font-size: 2.2em;
}


/* Article Styles */
/* All h2 elements within the article element are having their size defined to 1.4em */
article h2 {
    font-size: 1.4em;
}

/* The first letter of the very first p tag within the element article is being increated in size */
article p:first-of-type:first-letter {
    font-size: 2em;
}


/* Aside Styles */
/* All text within the aside element is set to 0.9em */
aside {
    font-size: 0.9em;
}

/* h1 elements nested inside the aside element is being centered and having it's font size defined to 1.4 */
aside h1 {
    font-size: 1.4em;
    text-align: center;
}